<section id="viewComments">
    <div class="post">
        <div class="col thumbnail">
            <a href="{{url}}">
                <img src="{{imageUrl}}">
            </a>
        </div>
        <div class="post-content">
            <div class="title">
                <a href="{{url}}">
                    {{title}}
                </a>
            </div>
            <div class="details">
                <div class="info">
                    submitted {{date}} ago by {{author}}
                </div>
                {{#if isPostAuthor}}
                    <div class="controls">
                        <ul>
                            <li class="action"><a class="editLink" href="#/posts/{{postId}}/edit">edit</a></li>
                            <li class="action"><a class="deleteLink" href="#/posts/delete/{{postId}}">delete</a></li>
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    </div>
    <div class="post post-content">
        {{> commentForm}}
    </div>
    {{#each comments}}
        {{> comment}}
    {{else}}
        <div>No comments in the database</div>
    {{/each}}
</section>